@light-gray: #F5F5F5;
@border-color: #727272;

.js-role input {
    position: absolute;
    opacity: 0;
}

.signup-form .checkbox input[type=checkbox],
.signup-form .checkbox-inline input[type=checkbox],
.signup-form .radio input[type=radio],
.signup-form .radio-inline input[type=radio] {
    position: inherit;
    margin-left: inherit;
}

.checkbox label, .radio label {
    padding: 2px 8px 0;
}

.steps-section .input-search .Select-container {
    display: inline-block;
    width: 100%;
    max-width: 432px;
}

.Select-container {
    &.form-control {
        padding: 0;
        border: none;
    }
    .Select {
        &.is-focused:not(.is-open) .Select-control {
            //border-color: @light-gray !important;
            border-color: @border-color !important;
            box-shadow: none !important;
        }
        &.is-disabled > .Select-control {
            border: 1px solid #c8c8c8;
        }

        .Select-control {
            border: 1px solid @border-color;
            border-radius: 0;
            height: 34px;
            .Select-input {
                height: 32px;
            }
        }

        .Select-menu-outer {
            border-radius: 0;
        }

        .Select-option {
            font-size: 14px;
            &.is-focused {
                background-color: @light-gray;
                color: #262626;
            }
        }
    }
}

.react-datepicker-wrapper {
    width: 100%;
    .react-datepicker__input-container {
        width: 100%;
    }
}
.react-datepicker-popper {
    .react-datepicker {
        font-size: 1.2rem;
        .react-datepicker__day, .react-datepicker__day-name, .react-datepicker__time-name {
            width: 2.5rem;
            line-height: 2.5rem;
        }
        .react-datepicker__current-month, .react-datepicker-time__header {
            font-size: 1.3rem;
        }
        .react-datepicker__navigation {
            border-width: 0.65rem;
            background-color: transparent;
        }
    }
}